<!DOCTYPE html>
<html>
  <head>
    <title>Creativault</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <body>
    <%= yield %>

    <%= button_to('Log Out - temp', destroy_session_path, {method: "post"}) %>
  </body>
</html>
